@{
    ViewData["Title"] = "Agency";
}

<!DOCTYPE html>

<html>
<body>

    <p><a asp-controller="Client" asp-action="Index">Клиенты</a></p>
    <p><a asp-controller="Estate" asp-action="Index">Объекты недвижимости</a></p>
    <p><a asp-controller="Realtor" asp-action="Index">Риэлторы</a></p>
    <p><a asp-controller="Deal" asp-action="Index">Сделки</a></p>
    <p><a asp-controller="EstateType" asp-action="Index">Типы недвижимости</a></p>

</body>
</html>


